# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Logs
development.log

#A place to store local stuff I don't want to version control

archive/

# Don't include the exe for the docker image

docker/app/tmr
cdk.context.json
app/tmr
