name: Go

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    


jobs:

  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.20"
      
    - name: Vet the Code
      run: go vet -v ./...

    - name: Test
      run: go test -v ./...

    - name: Git Semantic Version
      id: gsv
      uses: PaulHatch/semantic-version@v5.0.2
      with:
        tag_prefix: "v"
        major_pattern: "BREAK:"
        minor_pattern: "feat:"
        format: "${major}.${minor}.${patch}-prerelease${increment}"
        short_tags: true
        bump_each_commit: false
    
    - name: Build
      run: make -f build/Makefile build-linux

    - name: Login to ECR
      id: ecr
      uses: elgohr/ecr-login-action@v3
      with:
        access_key: ${{ secrets.AWS_ACCESS_KEY }}
        secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: ${{ secrets.AWS_REGION }}

    - name: Publish Main App to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: trackmyrun
        username: ${{ steps.ecr.outputs.username }}
        password: ${{ steps.ecr.outputs.password }}
        registry: ${{ steps.ecr.outputs.registry }}
        dockerfile: build/Dockerfile-tmr
        tags: "latest,${{ steps.gsv.outputs.version }}"
